<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="assets/css/form.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <main>
    <div class="containerPaiForm">
        <div class="containerBemVindo">
            <h1>Bem Vindo!</h1>
            <p id="marginPrimeiroParagrafo">Para continuar conectado conosco</p>
            <p class="marginParagrafo">por favor realize seu login com as suas</p> 
            <p class="marginParagrafo">informações pessoais!</p>
            <div class="divPaiLinkLogin">
                <div class="divFilhoLinkLogin" id="marginLinkLogin">
                    <a href="/Login" class="linkLogin">Login</a>
                </div>
            </div>
        </div>

        <div class="containerForm">
            <form method="post" action="/">
                <div>
                    <h1>Criar Conta</h1>
                    <p>Use seu email para registro</p>
                </div>
                <div class="divInputPai">
                 
                    <div class="divInputFilho">
                        <span class="mdi mdi-account"></span>
                        <input type="text" name="nome" id="idNome" placeholder="Nome">
                    </div>
                        <div th:if="${validacaoError}" th:text="${validacaoError}" style="color: red; font-size: 12px;"></div>
             
                    <div class="divInputFilho">
                        <span class="mdi mdi-email"></span>
                        <input type="text" name="email" id="idEmail" placeholder="Email">
                    </div>
                        <div th:if="${validacaoError}" th:text="${validacaoError}" style="color: red; font-size: 12px;"></div>

                    <div class="divInputFilho">
                        <span class="mdi mdi-lock"></span>
                        <input type="password" name="senha" id="idSenha" placeholder="Senha">
                    </div>
                        <div th:if="${validacaoError}" th:text="${validacaoError}" style="color: rgb(255, 0, 0); font-size: 12px;"></div>

                    <div class="divFilhoInputCadastrar">
                        <input type="submit" value="Cadastrar">
                    </div>
                </div>
            </form>
            <div th:if="${cadastroError}" th:text="${cadastroError}" style="color: red; font-size: 12px; margin-top: 5px;"></div>
            <div th:if="${cadastrado}" th:text="${cadastrado}" style="color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(52, 212, 52); margin-top: 5px; width: 100%; padding: 10px;"></div>
        </div>
    </div>
  </main>
    
</body>
</html>