<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="assets/css/form.css">
</head>
<body>
  <main>
    <div class="containerPaiForm">
        <div class="containerBemVindo">
            <h1>Bem Vindo!</h1>
            <p id="marginPrimeiroParagrafo">Para continuar conectado conosco</p>
            <p class="marginParagrafo">por favor realize seu login com as suas</p> 
            <p class="marginParagrafo">informações pessoais!</p>
            <a href="#" id="marginLinkLogin">Login</a>
        </div>
        <div class="containerForm">
            <form method="post" action="/cadastrarUsuario">
                <div>
                    <h1>Criar Conta</h1>
                    <p>Use seu email para registro</p>
                </div>
                <div>
                    <div>
                        <input type="text" name="nome" id="idNome">
                    </div>
                    <div>
                        <input type="text" name="email" id="idEmail">
                    </div>
                    <div>
                        <input type="password" name="senha" id="idSenha">
                    </div>
                    <div>
                        <input type="submit" value="Cadastrar">
                    </div>
                </div>
            </form>
        </div>
    </div>
  </main>
    
</body>
</html>