<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="assets/css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <main>
    <div class="containerPaiForm">
        <div class="containerBemVindo">
            <h1>Bem Vindo!</h1>
            <p id="marginPrimeiroParagrafo">Não possui nenhum Cadastro?</p>
            <p class="marginParagrafo">por favor realize seu cadastro com as suas</p> 
            <p class="marginParagrafo">informações pessoais!</p>
            <div class="divPaiLinkCadastro">
                <div class="divFilhoLinkCadastro" id="marginLinkCadastro">
                    <a href="/" class="linkCadastro">Cadastrar</a>
                </div>
            </div>
        </div>

        <div class="containerForm">
            <form method="post" action="/Login">
                <div>
                    <h1>Login</h1>
                    <p>Use seu email para entrar</p>
                </div>
                <div class="divInputPai">
                             
                    <div class="divInputFilho">
                        <span class="mdi mdi-email"></span>
                        <input type="text" name="email" id="idEmail" placeholder="Email">
                    </div>

                    <div class="divInputFilho">
                        <span class="mdi mdi-lock"></span>
                        <input type="password" name="senha" id="idSenha" placeholder="Senha">
                    </div>
                    <div th:if="${erroLogin}" th:text="${erroLogin}" style="font-size: 12px;"></div>
                    <div class="divFilhoInputLogar">
                        <input type="submit" value="Entrar">
                    </div>
                </div>
            </form>
        </div>
    </div>
  </main>
    
</body>
</html>